* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS";
}

@font-face {
  font-family: "Trebuchet MS";
  src: null;
}

.page-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: #F7B267;
  margin: 0;
}

.content-wrap {
  padding-bottom: 3em;
}

/* Login and Forgot Password Container */

.login-forgot-btns {
  height: 2em;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  grid-gap: 20%;
}

/* Login */

.login-btn {
  height: 2em;
  width: 50%;
  float: left;
  background-color: #F4845F;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
}

.login-btn:hover {
  background-color: #F27059;
  cursor: pointer;
}

::-ms-reveal {
  display: none;
}

.login-cover {
  background-color: #F79D65;
  height: 30em;
  width: 30em;
  position: relative;
  border-radius: 2em;
  box-shadow: #061826;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* Forgot Password */

.forgot-pwd-btn {
  height: 2em;
  width: 50%;
  float: right;
  background-color: #F4845F;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
}

.forgot-pwd-btn:hover {
  background-color: #F27059;
  cursor: pointer;
}

/* Username and Password Inputs */

input {
  border: none;
  background-color: white;
  height: 2em;
  width: 75%;
  border-radius: 0.5em;
  text-align: left;
  padding: 1.5em;
  display: inline-block;
}

input:focus {
  outline-color: #061826;
}

/* Show/Hide Password */

i {
  position: absolute;
  top: 49.5%;
  right: 15%;
}

i:hover {
  color: #b1b1b1;
  cursor: pointer;
}

/* Register Button */

.sign-up-btn {
  height: 2em;
  width: 35%;
  background-color: #F4845F;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
}

.sign-up-btn:hover {
  background-color: #F27059;
  cursor: pointer;
}

.site-title {
  font-size: 2rem;
}

.register-cover {
  background-color: #F79D65;
  height: 30em;
  width: 30em;
  position: relative;
  border-radius: 2em;
  box-shadow: #061826;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

input {
  border: none;
  background-color: white;
  height: 2em;
  width: 75%;
  border-radius: 0.5em;
  text-align: left;
  padding: 1.5em;
}

input:focus {
  outline-color: #110A03
}

/* Nav Bar */

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #F4845F;
  background-size: 700;
  height:50px;
  align-items: stretch;
  gap: 2rem;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li:hover {
  color: rgb(0, 0, 0);
}

.nav_triple_bar_menu{
  display: none;
  flex-direction: column;
  align-items: flex-end;
}

.nav_triple_bar_icon{
  display: none;
  justify-self: end;
  height: 50px;
  padding: 15px;
  font-size: x-large;
}

.nav_triple_bar_links_container,
.nav_triple_bar_links{
  display: none;
  align-items: center;
  flex-direction: column;
  background: #F27059;
}

@media screen and (max-width: 550px) {
  .nav li{
    display: none;
  }

  .nav_triple_bar_menu,
  .nav_triple_bar_icon,
  .nav_triple_bar_links_container,
  .nav_triple_bar_links{
    display: flex;
  }
}

@media screen and (max-width: 320px) {
  .header_logo_long {
    width: 80%;
  }
}

/* Logo */

.header_logo_long {
  height: 45px;
  position: absolute;
  left: 0%;
  align-items: stretch;
}

/* Footer */
.main-footer {
  color: black;
  background-color: #F4845F;
  margin-top: auto;
  position:relative;
  bottom: 0;
  width: 100%;
  columns: 2;
}

/* Footer 'luminosityleds' column */
.about:hover {
  text-decoration: underline;
  display: inline-block;
}

.team:hover {
  text-decoration: underline;
  display: inline-block;
}

.whats-new:hover {
  text-decoration: underline;
  display: inline-block;
}

/* Hyperlinks/Anchors */
a {
  text-decoration: none;
  color: inherit;
}


