* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS";
}

@font-face {
  font-family: "Trebuchet MS";
  src: null;
}

.page-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: #f7b267;
  margin: 0;
}

.content-wrap {
  padding-bottom: 3em;
}

/* Login and Forgot Password Container */

/* Login */

.login-btn {
  height: 2em;
  width: 35%;
  float: left;
  background-color: #F4845F;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
}

.login-btn:hover {
  background-color: #F27059;
  cursor: pointer;
}

::-ms-reveal {
  display: none;
}

.login-cover {
  background-color: #f79d65;
  height: 30em;
  width: 30em;
  position: relative;
  border-radius: 2em;
  box-shadow: #061826;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* Forgot Password */

.forgot-pwd-btn {
  height: 2em;
  width: 50%;
  float: right;
  background-color: #f27059;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
}

.forgot-pwd-btn:hover {
  transform: scale(1.15);
}

/* Username and Password Inputs */

input {
  border: none;
  background-color: white;
  height: 2em;
  width: 75%;
  border-radius: 0.5em;
  text-align: left;
  padding: 1.5em;
  display: inline-block;
}

input:focus {
  outline-color: #061826;
}

/* Show/Hide Password */

i {
  position: absolute;
  top: 49.5%;
  right: 15%;
}

i:hover {
  color: #b1b1b1;
  cursor: pointer;
}

/* Register Button */

.sign-up-btn {
  height: 2em;
  width: 35%;
  background-color: #f27059;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
}

.sign-up-btn:hover {
  background-color: #F27059;
  cursor: pointer;
}

.site-title {
  font-size: 2rem;
}

.register-cover {
  background-color: #f79d65;
  height: 30em;
  width: 30em;
  position: relative;
  border-radius: 2em;
  box-shadow: #061826;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

input {
  border: none;
  background-color: white;
  height: 2em;
  width: 75%;
  border-radius: 0.5em;
  text-align: left;
  padding: 1.5em;
}

input:focus {
  outline-color: #110a03;
}

/* Nav Bar */

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #f4845f;
  background-size: 700;
  height: 50px;
  align-items: stretch;
  gap: 2rem;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li:hover {
  color: rgb(0, 0, 0);
}

.nav_triple_bar_menu{
  display: none;
  flex-direction: column;
  align-items: flex-end;
}

.nav_triple_bar_icon{
  display: none;
  justify-self: end;
  height: 50px;
  padding: 15px;
  font-size: x-large;
}

.nav_triple_bar_links_container,
.nav_triple_bar_links{
  display: none;
  align-items: center;
  flex-direction: column;
  background: #F27059;
}

@media screen and (max-width: 550px) {
  .nav li{
    display: none;
  }

  .nav_triple_bar_menu,
  .nav_triple_bar_icon,
  .nav_triple_bar_links_container,
  .nav_triple_bar_links{
    display: flex;
  }
}

@media screen and (max-width: 320px) {
  .header_logo_long {
    width: 80%;
  }
}

/* Logo */

.header_logo_long {
  height: 45px;
  position: absolute;
  left: 0%;
  align-items: stretch;
}

/* account page */

@import url("https://fonts.googleapis.com/css?family=Inter:400,700,300,500,100");

.screen a {
  display: contents;
  text-decoration: none;
}
.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desktop-1 {
  align-items: flex-end;
  background-color: #f7b267;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 174px;
  height: 1024px;
  padding: 32px 24x;
  width: 1440px;
}

.overlap-group {
  height: 644px;
  position: relative;
  width: 1374px;
}

.user-greeting {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  justify-content: center;
  position: relative;
  top: 37px;
  width: fit-content;
}

.hello-name-my-account-information {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.span1 {
  color: var(--asphalt);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 700;
}

.span2 {
  color: var(--asphalt);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 100;
}

.span3 {
  color: var(--asphalt);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 300;
}

.user-profile-circle {
  height: 64px;
  min-width: 64px;
}

.username {
  height: 31px;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 177px;
  width: 84px;
}

.email {
  color: transparent;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 31px;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 313px;
  width: 56px;
}

.span1-1 {
  color: #707070;
}

.phone-number {
  height: 31px;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 448px;
  width: 121px;
}

.frame-container {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 753px;
  height: 57px;
  min-width: 1160px;
}

.frame-7 {
  align-items: flex-start;
  background-color: var(--bittersweet);
  border-radius: 45px;
  display: flex;
  gap: 10px;
  padding: 15px 20px;
  width: fit-content;
}

.reset-password {
  color: var(--asphalt);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  text-align: center;
  width: fit-content;
}

.frame-6 {
  align-items: center;
  background-color: #ff0000;
  border-radius: 45px;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 15px 20px;
  width: fit-content;
}

.delete-account {
  color: #3c3b3b;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  text-align: center;
  width: fit-content;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  left: 0;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.rectangle-3 {
  background-color: #f79d65;
  border-radius: 15px;
  height: 624px;
  min-width: 1334px;
}

.edit-user-pfp-button {
  align-items: center;
  background-color: var(--bittersweet);
  border-radius: 45px;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 362px;
  padding: 10px 27px;
  position: absolute;
  top: 60px;
  width: fit-content;
}

.edit-user-profile {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  text-align: center;
  width: fit-content;
}

.user-information {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  left: 40px;
  padding: 10px;
  position: absolute;
  top: 150px;
  width: fit-content;
}

.rectangle-4 {
  background-color: #fdc990;
  height: 443px;
  min-width: 1273px;
}

.confirm-changes-button {
  align-items: center;
  background-color: var(--bittersweet);
  border-radius: 45px;
  display: flex;
  gap: 10px;
  height: 35px;
  justify-content: center;
  left: 1105px;
  padding: 0px 19px;
  position: absolute;
  top: 546px;
  width: 183px;
}

.confirm-changes {
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: fit-content;
}
/* Footer */
.main-footer {
  color: black;
  background-color: #F4845F;
  margin-top: auto;
  position:relative;
  bottom: 0;
  width: 100%;
  columns: 2;
}

/* Footer 'luminosityleds' column */
.about:hover {
  text-decoration: underline;
}

.team:hover {
  text-decoration: underline;
}

.whats-new:hover {
  text-decoration: underline;
}

/* Hyperlinks/Anchors */
a {
  text-decoration: none;
  color: inherit;
}

/* Third Party */
.third-party-btn {
  height: 3em;
  width: 28em;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  border: none;
  font-family: "Trebuchet MS";
  font-size: 0.8em; 
  padding: 0.5em;
}

.third-party-btn:hover {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

.third-party-icon {
  margin-right: 0.1em;
}

.third-party-btns {
height: 2em;
width: 75%;
display: flex;
justify-content: center;
align-items: center;
border-radius: 0.5em;
grid-gap: 25%;
}
