* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Futuristica";
}

@font-face {
    font-family: 'Courier New', Courier, monospace;
    src: null;
}

.cover {
    background-color: lightblue;
    height: 15em;
    width: 15em;
    position: relative;
    border-radius: 2em;
    box-shadow: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

input {
    border: none;
    background-color: white;
    height: 2em;
    width: 75%;
    border-radius: 0.5em;
    text-align: left;
    padding: 1.5em;
}

input:focus {
    outline-color: black
}

.login-btn {
    height: 2em;
    width: 35%;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
}

.forgot-pwd-btn {
    height: 0.25em;
    width: 15em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.125em;
}